<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>pickndeliver</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.479968508272-s441d1jp3eepj8eum2mvu5u635h0g9g1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Permission Requires for Music Play</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calender used for Date Access</string>
	<key>NSCameraUsageDescription</key>
	<string>Enabling this Permission User able to capture Parcel Image</string>
	<key>NSContactsUsageDescription</key>
	<string>Pick N Delivere Requires Contacts Permission For Getting Mobile Number</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Enabling this helps Pick N Delivere to search near by Address</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Enabling this helps Pick N Delivere to search near by Address</string>
	<key>NSLocationUsageDescription</key>
	<string>Enabling this helps Pick N Delivere to search near by Address</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Enabling this helps Pick N Delivere to search near by Address</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Requires Permission for Microphone Acccess</string>
	<key>NSMotionUsageDescription</key>
	<string>Requires Permission For Sensor Opration</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Enabling this Permission User able to Select Image from Gallery Parcel Image</string>
	<key>NSRemindersUsageDescription</key>
	<string>Pick N Delivere Requires Permission for Reminder</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Requires Permission for Speech Recognition</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>Permission Requires for Accessing the Music</string>
</dict>
</plist>
